<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.uc.dao.mapper.PointLogMapper">
    <resultMap id="BaseResultMap" type="com.luoys.upgrade.uc.dao.po.PointLogPO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="point_id" jdbcType="VARCHAR" property="pointId" />
        <result column="task_daily_id" jdbcType="VARCHAR" property="taskDailyId" />
        <result column="point" jdbcType="INTEGER" property="point" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="type" jdbcType="TINYINT" property="type" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>
    <sql id="Base_Column_List">
        id, point_id, task_daily_id, point, description, `comment`, `type`, `status`, record_time,
    gmt_create, gmt_modified
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.uc.dao.po.PointLogPO" useGeneratedKeys="true">
        insert into point_log (point_id, task_daily_id, point,
                               description, `comment`, `type`,
                               `status`, record_time, is_delete,
                               gmt_create, gmt_modified)
        values (#{pointId,jdbcType=VARCHAR}, #{taskDailyId,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER},
                #{description,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
                #{status,jdbcType=TINYINT}, #{recordTime,jdbcType=TIMESTAMP}, 0,
                now(), now())
    </insert>

    <select id="listPointLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from point_log
        where is_delete = 0
        and point_id = #{pointId,jdbcType=VARCHAR}
        <if test="type != null">
            and `type` = #{type,jdbcType=TINYINT}
        </if>
        order by record_time desc
        <if test="startIndex != null">
            limit ${startIndex}, 10
        </if>
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from point_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from point_log
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.uc.dao.po.PointLogPO" useGeneratedKeys="true">
        insert into point_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pointId != null">
                point_id,
            </if>
            <if test="taskDailyId != null">
                task_daily_id,
            </if>
            <if test="point != null">
                point,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="comment != null">
                `comment`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="recordTime != null">
                record_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pointId != null">
                #{pointId,jdbcType=VARCHAR},
            </if>
            <if test="taskDailyId != null">
                #{taskDailyId,jdbcType=VARCHAR},
            </if>
            <if test="point != null">
                #{point,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="recordTime != null">
                #{recordTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.luoys.upgrade.uc.dao.po.PointLogPO">
        update point_log
        <set>
            <if test="pointId != null">
                point_id = #{pointId,jdbcType=VARCHAR},
            </if>
            <if test="taskDailyId != null">
                task_daily_id = #{taskDailyId,jdbcType=VARCHAR},
            </if>
            <if test="point != null">
                point = #{point,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                `comment` = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="recordTime != null">
                record_time = #{recordTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.luoys.upgrade.uc.dao.po.PointLogPO">
        update point_log
        set point_id = #{pointId,jdbcType=VARCHAR},
            task_daily_id = #{taskDailyId,jdbcType=VARCHAR},
            point = #{point,jdbcType=INTEGER},
            description = #{description,jdbcType=VARCHAR},
            `comment` = #{comment,jdbcType=VARCHAR},
            `type` = #{type,jdbcType=TINYINT},
            `status` = #{status,jdbcType=TINYINT},
            record_time = #{recordTime,jdbcType=TIMESTAMP},
            is_delete = #{isDelete,jdbcType=TINYINT},
            gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>