<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.uc.dao.mapper.PointMapper">
    <resultMap id="BaseResultMap" type="com.luoys.upgrade.uc.dao.po.PointPO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="point_id" jdbcType="VARCHAR" property="pointId" />
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
        <result column="usable_point" jdbcType="INTEGER" property="usablePoint" />
        <result column="expend_point" jdbcType="INTEGER" property="expendPoint" />
        <result column="type" jdbcType="TINYINT" property="type" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>
    <sql id="Base_Column_List">
        id, point_id, owner_id, usable_point, expend_point, `type`, `status`,
    gmt_create, gmt_modified
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.uc.dao.po.PointPO" useGeneratedKeys="true">
        insert into point (point_id, owner_id, usable_point,
                           expend_point, `type`, `status`,
                           is_delete, gmt_create, gmt_modified
        )
        values (#{pointId,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR}, #{usablePoint,jdbcType=INTEGER},
                #{expendPoint,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
                0, now(), now()
               )
    </insert>

    <update id="update" parameterType="com.luoys.upgrade.uc.dao.po.PointPO">
        update point
        <set>
            <if test="usablePoint != null">
                usable_point = #{usablePoint,jdbcType=INTEGER},
            </if>
            <if test="expendPoint != null">
                expend_point = #{expendPoint,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            gmt_modified = now(),
        </set>
        where point_id = #{pointId,jdbcType=VARCHAR}
    </update>

    <select id="selectByOwnerId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from point
        where is_delete = 0
        and owner_id = #{ownerId,jdbcType=VARCHAR}
    </select>

    <select id="selectByPointId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from point
        where is_delete = 0
        and point_id = #{pointId,jdbcType=VARCHAR}
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from point
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from point
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.uc.dao.po.PointPO" useGeneratedKeys="true">
        insert into point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pointId != null">
                point_id,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="usablePoint != null">
                usable_point,
            </if>
            <if test="expendPoint != null">
                expend_point,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pointId != null">
                #{pointId,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="usablePoint != null">
                #{usablePoint,jdbcType=INTEGER},
            </if>
            <if test="expendPoint != null">
                #{expendPoint,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.luoys.upgrade.uc.dao.po.PointPO">
        update point
        set point_id = #{pointId,jdbcType=VARCHAR},
            owner_id = #{ownerId,jdbcType=VARCHAR},
            usable_point = #{usablePoint,jdbcType=INTEGER},
            expend_point = #{expendPoint,jdbcType=INTEGER},
            `type` = #{type,jdbcType=TINYINT},
            `status` = #{status,jdbcType=TINYINT},
            is_delete = #{isDelete,jdbcType=TINYINT},
            gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>